	<table class="profile">
		<tr>
			<td class="main">
		<h2>
			<%= gravatar_for @user,{:default=>nil, :size=>50, :rating=>"PG", :alt=>"", :title=>"", :class=>"gravatar", :ssl=>false, :fast=>false} %>
			<!-- <img src ="http://www.gravatar.com/avatar.php?gravatar_id=#{Digest::MD5::hexdigest(@user.email)}", class = 'avatar'> -->
			<!-- <img src ="<%= gravatar_url @user.email %>", class = 'avatar'>  -->
			<%= h @user.name %>
		</h2>
		<% unless @user.microposts.empty? %>
		<table class = "microposts">
			<%= render :partial => 'microposts/microposts', :locals => {:microposts => @user.microposts} %>
		</table>
		<%= will_paginate @microposts %>
		<% end %>
	</td>
	<td class = "sidebar round">
		<strong>Name</strong>: <%= h @user.name %><br/>
		<strong>URL</strong>: <%= link_to user_path(@user), user_path(@user) %><br/>
		<strong>Microposts</strong>: <%= @user.microposts.count %>
	</td>
</tr>
</table>

	  <b>Name:</b>
	  <%=h @user.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%=h @user.email %>
	</p>


	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
